// $accentColor = #212121 // 主题色
$navbarHeight = 3.4rem
// $bgColor = #f5f5d5 //背景色

// colors
$accentColor = #e98d1c
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34
// $arrowBgColor = #ccc
$badgeTipColor = #dc4e1c
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// // layout
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px

// // responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px